@font-face{
  font-family: 'akrobat';
  src:
  url('/assets/font/akrobat/Akrobat-ExtraBold.otf');
  unicode-range: U+00-024F;
}
@font-face {
	font-family: 'akrobat';
  src:
  url('/assets/font/akrobat/Akrobat-Thin.otf');
  unicode-range: U+00-024F;
  font-weight: 100;
}
