@function getRelativeWidth ($width){
  @return ($width/$wrap-width)*100%;
}
@function getEMSize ($width, $unit: 1em){
  @return ($width/16)*$unit;
}

@mixin setPseudeElmSize ($width, $height, $unit:1em){
  @extend %pseudo-elm;
  width: getEMSize($width,$unit);
  height: getEMSize($height,$unit);
}

@mixin setContainerSize ($width, $height){
  width: getEMSize($width);
  height: getEMSize($height);
}
