
* {
  position: relative;

  box-sizing: border-box;
  padding: 0;
  margin: 0;

  line-height: 1.8em;
  font-style: initial;
  vertical-align: top;
  font-family: $font-content-TC;

  -webkit-print-color-adjust: exact;

}
body {
  background: #ddd;
  font-size: 14px;
}

ul,ol {
  list-style: none;
}

.wrap * {
  //  border: 1px solid $grey00;
}
