$mainC:  #2C3A4F;
$subC:   #F9BCA7;


$grey00: black;
$grey06: #606B7D;
$grey09: #F5F5F5;
$grey10: white;


$index-ctrl: ('lowest', 'lv2', 'lv3', 'lv4', 'lv5', 'highest');

$font-title-EN: 'akrobat','Roboto', Helvetica, Arial, sans-serif;
$font-content-TC: 'Noto Sans TC','蘋方-繁',微軟正黑,'Roboto', 'sans-serif';
$font-content-EN: 'Roboto', 'Helvetica Neue', Arial, sans-serif;

$font-number: '';

$wrap-width: 595;

$file-path: '/assets/images';
