/* layout */
body { 
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
::-moz-selection {
    background: #ff0464;
    color: #fff;
}
::selection {
    background: #ff0464;
    color: #fff;
}
a {
	text-decoration: none;
	color: #ff0464;
	display: inline-block;
	position: relative;
}
ul {
	list-style: none;
	padding: 0;
}
.logo{ 
	width: 100vw;
	height: 100vh;
	background-image: url(../../images/web-texture-01.png);
	-webkit-background-size: 70% auto;
	background-size: 70% auto;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin: 0;
}
.nav{
	position: fixed;
	top: 5vh;
	left: 10vw;
	z-index: 999;
	opacity: .3;
}
.nav.active{
	opacity: 1;
}
.nav:after{
	position: fixed;
	content: "";
	background-color: rgba(0,0,0,0);
	z-index: -1;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	visibility: hidden;
}
.nav.active:after {
	background-color: rgba(255,255,255,.8);
	visibility: visible;
	-webkit-transition: .8s;
	   -moz-transition: .8s;
		-ms-transition: .8s;
			transition: .8s;
	  	}
	.nav-btn {
		border: 1px solid #ff0464;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 50px;
		height: 50px;
		padding: 10px;
		cursor: pointer;
	}
	.nav-line {
		height: 1px;
		width: 100%;
		margin: 7px 0;
		background-color: #ff0464;
	}
	.nav-menu {
		color: #ff0464;
		font-size: 24px;
		line-height: 2.5;
		height: 0;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: .5s;
		   -moz-transition: .5s;
			-ms-transition: .5s;
				transition: .5s;
	}
	.nav-menu.active {
		opacity: 1;
		height: 200px;
	}
	.nav-item a:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 0%;
		bottom: 2px;
		left: 0;
		-webkit-transition: .5s;
		   -moz-transition: .5s;
			-ms-transition: .5s;
				transition: .5s;
	}

	.nav-item:hover a:after{
		background-color: #ff0464;
		width: 100%;
	}
	section {
		position: relative;
	}
	.content-wrap {
		position: absolute;
		top: 17vh;
		left: 10vw;
		clear: both;
	}
	.pull-right { float: right;}
	.pull-left { float: left;}
	.btn {
		border: 1px solid #ff0464;
		padding: 5px 50px;
		-webkit-transition: .5s;
		   -moz-transition: .5s;
			-ms-transition: .5s;
				transition: .5s;
	}
	.btn:hover {
		background-color: #ff0464;
		color: #fff;
		box-shadow: 0px 2px 5px rgba(100,0,62,.5);
	}
section {
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-position: 0 center;
	height: 100vh;
	width: 100vw;
}
.alpha{
	opacity: .3;
	-webkit-transition: .5s;
	   -moz-transition: .5s;
		-ms-transition: .5s;
			transition: .5s;
}
/* index */
section#index,#anchor1{
	background-image: url(../images/web-texture-03.png);
}

/* work */
section#work,#anchor2{
	background-image: url(../images/web-texture-04.png);
	background-position: center;
}
#work > .content-wrap {
	width: 90vw;
}
.work-list {
	width: 999999999px;
	height: 40vh;

}
.work-item {
	display: inline-block;
	margin-right: 16px;
	vertical-align: top;
	width: 75vw;

}
.work-item > a {
	display: block;
}
.work-img {
	max-height: 50vh;
}
.work-text{
	background-color: rgba(255,255,255,.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px;
	color: #333;
	margin-bottom: 0;
}

/* profolio */
section#profile{
	background-image: url(../images/web-texture-05.png);
	overflow-y: auto;	
}
#profile > .content-wrap {
	width: 80vw;
}
.about-content {
	color: #ff0464;
	position: relative;
	float: none;
}
.about-content:last-child {
	margin-bottom: 50px;
	margin-top: 30px;
	border-top: 1px solid #ff0464;
}
	.about-title{
		position: relative;
		font-size: 16px;
		letter-spacing: 3px;
		margin-bottom: 66px;
		margin-top: 75px;
	}
	.about-title:after{
		position: absolute;
		content: "";
		bottom: -16px;
		left: 0;
		height: 6px;
		width: 100px;
		background-color: #ff0464;
	}
	.about-listitem {
		font-size: 12px;
		line-height: 1.2em;
		letter-spacing: 3px;
		font-weight: 500;
	}
	.about-listitem > p {
		font-size: 12px;
		line-height: 1.5em;
		margin-left: 55px;
		margin-top: 10px;
		letter-spacing: 3px;
		font-weight: 500;
		text-transform: uppercase;
	}
	

