/* layout */
body { 
	padding: 0;
	margin: 0;
	background-color: rgba(44,58,79,1);
	font-family: 'Helvetica','微軟正黑體';
	font-weight: 300;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body:after {
	content: "";
	position: fixed;
	background-color: rgba(44,58,79,.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
::-moz-selection {
    background: #F9BCA7;
    color: #fff;
}
::selection {
    background: #F9BCA7;
    color: #fff;
}
a {
	text-decoration: none;
	color: #F9BCA7;
	display: inline-block;
	position: relative;
}
ul {
	list-style: none;
	padding: 0;
}
.logo{ 
	width: 100vw;
	height: 100vh;
	background-image: url(../../images/web-texture-01.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	display: block;
	margin: 0;
	position: relative;
	z-index: 3;
}
.nav{
	position: fixed;
	top: 70px;
	left: 71px;
	z-index: 99
}
	.nav-btn {
		/*border: 1px solid #F9BCA7;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 28px;
		height: 15px;
		padding: 10px;
		cursor: pointer;
		position: relative;
		
	}
	.nav-btn:before,.nav-btn:after{
		transform: rotate(0deg);
		transition: transform .3s;
	}
	.nav-btn.active {
		margin: 0;
	}
	.nav-btn.active:after {
		transform: rotate(45deg);
		margin-top: 7px;
	}
	.nav-btn.active:before {
		transform: rotate(-45deg);
		margin-top: 7px;
	}
	.nav-btn:after,.nav-btn:before {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		z-index: 2;
		background-color: #F9BCA7;
	}
	.nav-btn:before {
		margin-top: 0px;
	}
	.nav-btn:after {
		margin-top: 15px;
	}

	.nav-menu {
		color: #F9BCA7;
		font-size: 24px;
		line-height: 2.5;
		height: 0;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: .5s;
		   -moz-transition: .5s;
			-ms-transition: .5s;
				transition: .5s;
	}
	.nav-menu.active {
		opacity: 1;
		height: 200px;
	}
	.nav-item a:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 0%;
		bottom: 2px;
		left: 0;
		-webkit-transition: .5s;
		   -moz-transition: .5s;
			-ms-transition: .5s;
				transition: .5s;
	}

	.nav-item:hover a:after{
		background-color: #F9BCA7;
		width: 100%;
	}
	section {
		position: relative;
	}
	.content-wrap {
		position: absolute;
		top: 17vh;
		left: 25vw;
		clear: both;
	}
	.pull-right { float: right;}
	.pull-left { float: left;}
	.btn {
		border: 1px solid #F9BCA7;
		padding: 5px 50px;
		-webkit-transition: .5s;
		   -moz-transition: .5s;
			-ms-transition: .5s;
				transition: .5s;
	}
	.btn:hover {
		background-color: #F9BCA7;
		color: rgba(44,58,79,.9);
		box-shadow: 0px 2px 5px rgba(100,0,62,.5);
	}

/* index */
.index{
	background-image: url(../../images/web-texture-03.png);
}

/* work */
.work{
	background-image: url(../../images/web-texture-04.png);
}
.work-list {
	width: 810px;
	z-index: 3;
	position: relative;
	background: url(../../images/web-texture-08.png) no-repeat;
	background-position: 0 0;
	padding-top: 90px;
	padding-left: 30px;

}
.work-item {
	display: inline-block;
	margin-right: 16px;
	vertical-align: top;
	width: 30%;

}
.work-img {
}
.work-text{
	background-color: rgba(255,255,255,.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px;
	color: #333;
	margin-bottom: 0;
}

/* profolio */
.profile{
	background-image: url(../../images/web-texture-05.png);

}
.about-content {
	margin-left: 70px;
	color: #F9BCA7;
	position: relative;
	z-index: 3;
}
	.about-content:last-child {
		margin-left: 0;
	}
	.about-title{
		position: relative;
		font-size: 16px;
		letter-spacing: 3px;
		margin-bottom: 66px;
		margin-top: 75px;
	}
	.about-title:after{
		position: absolute;
		content: "";
		bottom: -16px;
		left: 0;
		height: 4px;
		width: 80px;
		background-color: #F9BCA7;
	}
	.about-listitem {
		font-size: 12px;
		line-height: 1.2em;
		letter-spacing: 3px;
		font-weight: 500;
	}
	.about-listitem > p {
		font-size: 12px;
		line-height: 1.5em;
		margin-left: 55px;
		margin-top: 10px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	

